<div class="row justify-content-md-center">

        @await Component.InvokeAsync("PendenteViewComponents")

        @await Component.InvokeAsync("IniciadoViewComponents")

        @await Component.InvokeAsync("EmTransporteViewComponents")

        @await Component.InvokeAsync("FinalizadoViewComponents")

        @await Component.InvokeAsync("CanceladoViewComponents")

</div>